*~
*.o
*.so
*.so.*
*.lo
*.mexa64
/bin
/include
/programs
/cpp/src/third-party/gmp-5.1.2
/cpp/src/third-party/mpfr-3.1.2
/cpp/src/third-party/CGAL-4.2/include/CGAL/compiler_config.h
/cpp/src/third-party/boost_1_49_0.tar.gz
/cpp/src/third-party/boost_1_49_0
/matlab/pathdef.m
/cpp/src/third-party/gmp-5.1.2/doc/gmp.info
/cpp/src/third-party/gmp-5.1.2/doc/gmp.info-1
/cpp/src/third-party/gmp-5.1.2/doc/gmp.info-2
/cpp/src/third-party/mpfr-3.1.2/doc/mpfr.info
/matlab/FileFormatToolbox/mccExcludedFiles.log
/matlab/FileFormatToolbox/readme.txt
/matlab/FileFormatToolbox/requiredMCRProducts.txt
/matlab/FileFormatToolbox/run_vmu2png.sh
/matlab/FileFormatToolbox/vmu2png
