*~
*.o
*.so
*.so.*
*.dll
*.lib
*.lo
*.mexa64
*.mexw64
*.tar.gz
/bin
/include
/programs
/cpp/src/third-party/gmp-5.1.2
/cpp/src/third-party/mpfr-3.1.2
/cpp/src/third-party/CGAL-4.2/include/CGAL/compiler_config.h
/cpp/src/third-party/boost_*
/matlab/pathdef.m
/matlab/FileFormatToolbox/mccExcludedFiles.log
/matlab/FileFormatToolbox/readme.txt
/matlab/FileFormatToolbox/requiredMCRProducts.txt
/matlab/FileFormatToolbox/run_vmu2png.sh
/matlab/FileFormatToolbox/vmu2png
/build/
/cpp/src/third-party/InsightToolkit-4.3.2/
